<div class="fondo">
    <div class="fondo-register">
    <h1 class="titulo-register">Register</h1>
    <form [formGroup]="register_form" (ngSubmit)="register_user()">
        <label class="texto-register" >USERNAME</label>
        <input class="datos-register" type="text" placeholder="Username" formControlName="username" required>
        <label class="texto-register" >EMAIL</label>
        <input class="datos-register" type="email" placeholder="Email" formControlName="email" required>
        <label class="texto-register" >PASSWORD</label>
        <input class="datos-register" type="password" placeholder="Password" formControlName="password" required>
        <button class="botton-register" type="submit" [disabled]="!register_form.valid">Register</button>
    </form>
    </div>
</div>
