<div class="slider">
    <ul>
        <li><img src="assets/Apple-iPhone-15-Pro-lineup-hero-230912.jpg.og.jpg"></li>
        <li><img src="assets/Samsung_Galaxy-S22-e1649371039648.jpg"></li>
        <li><img src="assets/elgato-social-default-image.jpeg"></li>
        <li><img src="assets/Gucci-x-Adidas-SS23.jpg"></li>
    </ul>

</div>
<div class="descripcion">
    <h5 class="mensaje">¡Bienvenido a ALLYOUWANT, tu tienda online de confianza! Aquí, creemos que mereces tener todo lo que quieres al alcance de tu mano. Ofrecemos una amplia gama de productos de alta calidad, desde las últimas tendencias en moda hasta los gadgets tecnológicos más innovadores, pasando por artículos para el hogar y mucho más. Nuestro objetivo es proporcionarte una experiencia de compra online segura, fácil y agradable. Con precios competitivos y un servicio al cliente excepcional, estamos comprometidos a ayudarte a encontrar exactamente lo que quieres. ¡Disfruta de la comodidad de comprar desde tu casa y recibe tus productos favoritos directamente en tu puerta! ¡En ALLYOUWANT, tu satisfacción es nuestra prioridad!</h5>
</div>